<%- include("partials/header")%>

<%- include("partials/nav")%>

<div class="main  bg-black  h-[100vh] w-full">

  
<div class=" w-[80%]  h-screen  p-[2%] rounded-xl m-auto flex gap-7 ">
  <% posts.forEach((post)=>{%>
 <div class="card-main  h-[80vh] bg-white  w-[29%] flex ">

<div class="h-[76vh] w-[100%] bg-white">
  <div class=" card-start flex  gap-3 h-[12vh] w-[90%] ">
   <div class="h-[10vh]  w-[20%] rounded-full">
   <img class="h-[10vh] w-[100%]  rounded-full object-cover" src="/images/<%= post.user.profilepic%>" alt="">
 </div>
 <div class="name w-[69%] bg-white  [10vh]">
   <h1 class="text-xl font-bold"><%=post.user.name%></h1>
 <small class="text-zinc-600"><%=post.createdAt.toLocaleTimeString()%> |
     <%=post.createdAt.toLocaleDateString()%>
</small>
 </div>
 </div>
 <div class="big-card h-[65vh] w-full "><img class="h-[55vh] w-full  rounded object-cover" src="/images/<%=post.media%>" alt="">
 
   <div class="like h-[8%] w-[29%]  ml-8 text-2xl flex gap-x-5 mt-1">
    <span class="text-md">
      <%= post.likes.length%>
    </span>
    <a href="/like/<%=post._id%>">
    <% if(post.likes.includes(user._id)){%>
      <i class=" text-red-300 ri-heart-3-fill"></i>
   <%}else{%>
    <i class="ri-heart-3-fill"></i>
   <%}%>
   </a>
     <!-- <i class="ri-heart-3-fill"></i> -->
     <i class="ri-chat-3-line"></i>
   </div>
 </div>
</div>
 </div>
 <%})%>
 <div class="flex justify-around items-center rounded-xl fixed left-[50%] bottom-[5%] translate-x-[-50%] w-[30%] py-3  bg-red-300 text-2xl text-white">
  <i class="ri-search-line"></i>
  <a href="/post-create" class="ri-add-large-line"></a>
  <a href="/update-user/<%=user._id%>">
    <img class="rounded-full w-[2vmax] h-[2vmax] " src="/images/<%= user.profilepic%>" alt="">
  </a>
 </div>
</div>
</div>

<%- include("partials/footer")%>
